<div class="flex items-center justify-center p-2 space-x-2">
  <div class="w-3/5 p-2">
    <img src='{{ url }}' class="rounded-lg" />
  </div>
  <div class="w-2/5 p-2">
    <p class="text-2xl">{{ prompt }}</p>
  </div>
</div>
