<div class="p-2 flex justify-center items-center space-x-0.5">
  <div class="w-2/5">
    <audio controls autoplay>
      <source src='{{ url }}' type='audio/mp3'>
    </audio>
  </div>
  <div class="w-3/5">
    <p>{{ text }}</p>
  </div>
</div>
