<div class="flex items-center justify-center p-2 space-x-2">
  <div class="w-1/3">
    {% if url.is_empty() %}
    <div class="max-w-sm bg-gray-300 rounded-lg w-72 h-14 animate-pulse dark:bg-gray-700">
    </div>
    {% else %}
    <div class="flex items-center justify-center">
      <audio controls autoplay>
        <source src='{{ url }}' type='audio/mp3'>
      </audio>
    </div>
    {% endif %}
  </div>
  <div class="w-2/3 prose-lg">
    <p>{{ text }}</p>
  </div>
</div>
