<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ava Bot</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <script src="https://unpkg.com/htmx.org@1.9.8" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js" defer></script>
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  <body>
    {% block content %}{% endblock %} {% block script %}{% endblock %}
  </body>
</html>
