{% extends "base.html.j2" %} {% block content %}
<div class="items-center justify-center w-2/3 p-2 mx-auto mt-2">
  <h1 class="text-2xl text-center">Ava Bot</h1>
  <ol hx-ext="sse" sse-connect="/chats" sse-swap="message" hx-swap="beforeend"
    class="relative p-2 mt-4 border-gray-200 border-s dark:border-gray-700">
  </ol>

  <div class="flex items-center justify-center px-2 mt-4" x-data="recordingState()">
    <button class="w-16 h-16 text-white rounded-full" @keyup.space.window="toggleRecording()"
      :class="{'bg-red-800 animate-pulse': isRecording, 'bg-red-500': !isRecording}">
      <i class="fa-solid fa-microphone fa-xl"></i>
    </button>
  </div>
  <div hx-ext="sse" sse-connect="/signals" sse-swap="message" class="flex items-center justify-center p-2 text-center">
  </div>
</div>


{% endblock %}
{% block script %}
<script lang="javascript">

  function recordingState() {
    return {
      isRecording: false,
      toggleRecording: function () {
        if (this.isRecording) {
          recorder.stop();
        } else {
          recorder.start();
        }
        this.isRecording = !this.isRecording;
      }

    }
  }

  let recorder = {
    mediaRecorder: null,
    recordedChunks: [],
    init: function () {

      // Request access to the microphone
      navigator.mediaDevices.getUserMedia({ audio: true })
        .then(stream => {
          this.mediaRecorder = new MediaRecorder(stream);
          console.log(this.mediaRecorder);

          this.mediaRecorder.ondataavailable = (e) => {
            console.log(e);
            this.recordedChunks.push(e.data);
          };

          this.mediaRecorder.onstop = () => {
            console.log('Stopped recording');
            const blob = new Blob(this.recordedChunks, {
              type: 'audio/mp3'
            });

            console.log(blob);

            const formData = new FormData();
            formData.append('audio', blob);

            // Send the audio data to the server
            fetch('/assistant', {
              method: 'POST',
              body: formData
            }).then(response => {
              console.log(response);
              return response.json();
            }).then(data => {
              console.log(data);
            });
          };
        });
    },

    start: function () {
      this.recordedChunks = [];
      this.mediaRecorder.start();
    },

    stop: function () {
      this.mediaRecorder.stop();
    },
  }

  document.addEventListener("DOMContentLoaded", function () {
    recorder.init();
  });
</script>
{% endblock %}
