<li class="mb-10 ms-6">
  <span
    class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
    <img class="rounded-full shadow-lg" src="{{ avatar }}" alt="{{ name }}" />
  </span>
  <div
    class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600">
    <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0">{{ datetime }}</time>
    <div id="input-{{ id }}" class="w-full text-sm font-normal text-gray-500 dark:text-gray-300">
      <div role="status" class="w-3/4 animate-pulse">
        <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-64 mb-4"></div>
        <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-2.5"></div>
        <span class="sr-only">Loading...</span>
      </div>

    </div>
  </div>
</li>
