{% match self %}
{% when SignalEvent::Processing with (v) %}
<p class="text-gray-800"><i class="fa-solid fa-spinner animate-spin"></i> Processing {{ v }}</p>
{% when SignalEvent::Finish with (v) %}
<p class="text-green-800">Finished {{ v }}</p>
{% when SignalEvent::Error with (v) %}
<p class="text-red-500"><i class="fa-solid fa-circle-exclamation"></i>Error: {{ v }}</p>
{% when SignalEvent::Complete %}
<p class="text-green-800"><i class="fa-solid fa-check"></i>Complete</p>
{% else %}
<p class="text-yellow-700">Unknown event</p>
{% endmatch %}
